{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>Übersicht über den Urlaubsanspruch
    <i class="fa fa-question-circle"
      data-content="Dies ist eine Erläuterung, wie wir den gesamten Urlaubsanspruch berechnen. Fahren Sie mit der Maus über jede Zahl, um Details zu erfahren, was jede bedeutet."
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>Nomineller Urlaubsanspruch </em>
      <span class="pull-right"
        data-content="Urlaubsanspruch, abgeleitet aus der Abteilung, zu der der aktuelle Benutzer gehört."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id='nominalAllowancePart'
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>Übertragen von {{#if previous_year}}{{previous_year}}{{else}}vorherigem Jahr{{/if}}</em>
      <span class="pull-right"
        data-content="Urlaubsanspruch, der aus dem vorherigen Jahr übertragen wurde. Hinweis: Dieser Betrag wird am ersten Tag des Jahres berechnet."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id="allowanceCarriedOverPart"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>Individuelle Anpassung</em>
      <span class="pull-right"
        data-content="Anpassung des Urlaubsanspruchs durch den Administrator."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>Beginn/Ende der Beschäftigung</em>
      <span class="pull-right"
        data-content="Automatische Anpassung des Urlaubsanspruchs basierend auf dem Anfangs- und Enddatum der Beschäftigung des Mitarbeiters."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>Bislang verwendet</em>
      <span class="pull-right"
        data-content="Anzahl der Tage, die bereits vom Urlaubsanspruch genommen wurden."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>Bisher gesperrt</em>
        <span class="pull-right"
          data-content="Anzahl der Tage im Urlaubsanspruch, die aufgrund der angesammelten Natur des Urlaubsanspruchs nicht verfügbar sind."
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
