Neues TimeOff.Management-Konto für {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Hallo <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> hat gerade ein neues Konto für Sie als Mitarbeiter von <strong>{{company.name}}</strong>.</p>

<p>Bitte kontaktieren Sie <strong>{{admin_user.name}}</strong> über Ihr neues Passwort und die Anmeldung unter {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Oder folgen Sie dem unten stehenden Link, um ein neues Passwort festzulegen:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Set new password'}}
{{/ with }}

</p>

<p>Danke</p>
