
{{> header }}

<h1>Meine feeds</h1>

<p class="lead">Feeds für externe Terminkalender</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Teilen Sie Ihre TimeOff.Management-Daten mit externen Kalenderanbietern wie Microsoft Outlook, Apple Calendar (iCal) oder Google Calendar.</p>

        <p class="description-paragraph">Wir bieten folgende Streams an:</p>
        <p class="description-paragraph">
          <a href="/calendar/">Mein Kalender</a> Seite - überträgt alle Daten von der Seite Mein Kalender
        </p>
        {{# unless keep_team_view_hidden}}
        <p class="description-paragraph">
          <a href="/calendar/teamview/">Teamansicht</a> Seite - überträgt Daten der Teamansicht für den aktuellen Monat
        </p>
        {{/ unless}}

        <p class="description-paragraph">Um einen bestimmten Feed in die Standard-Kalenderanwendung zu exportieren, klicken Sie einfach auf den entsprechenden Link.</p>

        <p class="description-paragraph">Andernfalls kopieren Sie die Link-Adresse und übergeben Sie sie an eine externe Anwendung.</p>

      </div>
    </div>

    <div class="row feeds-holder">

      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Mein Kalender-Feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      {{# unless keep_team_view_hidden }}
      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Teamansicht-Feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>
      {{/ unless }}

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
