
<div>
  <strong>Name:</strong> {{userFullName}}.
</div>
<div>
  <strong>Abteilung:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>Verfügbar:</strong> {{userAllowance.number_of_days_available_in_allowance}} Tage aus {{userAllowance.total_number_of_days_in_allowance}}.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>Genehmiger:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
