
{{#if limitedView}}
  <div>
    <strong>Daten:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Mitarbeiter:</strong> {{leave.employeeFullName}}.
  </div>
{{else}}
  <div>
    <strong>Daten:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Typ:</strong> {{leave.type}}.
  </div>
  <div>
    <strong>Status:</strong> {{leave.status}}.
  </div>
  <div>
    <strong>Mitarbeiter:</strong> {{leave.employeeFullName}}.
  </div>
  <div>
    <strong>Abgezogene Tage:</strong> {{leave.deductedDays}}.
  </div>
  <div>
    <strong>Genehmigender:</strong> {{leave.approver}}.
  </div>
  <div>
    <strong>Angefordert am:</strong> {{leave.createdAt}}.
  </div>
  {{#if leave.commentsString }}
  <div>
    <strong>Kommentare:</strong> {{leave.commentsString}}.
  </div>
  {{/if}}
{{/if}}
